**/.classpath
**/.dockerignore
**/.env
**/.gitignore
**/.project
**/.settings
**/.toolstarget
**/*.*proj.user
**/*.dbmdl
**/*.jfm
**/azds.yaml
**/bin
**/charts
**/node_modules
**/obj
**/secrets.dev.yaml
**/values.dev.yaml
LICENSE
README.md